body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

main {
    display: flex;
    justify-content: center;
}

.cont {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
}

.img {
    width: 229px;
    height: 68px;
    margin: 0 auto 73px auto;

}

.title {
    font-family: 'IBM Plex Sans';
    font-size: 32px;
    line-height: 41.6px;
    color: #fff;
    margin: 0 auto 61px auto;
}


.box {
    width: 700px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.avt {

    width: 160px;
    border-radius: 10px;
}

.div {
    border: 2px solid #000;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 10px;
}

.div:hover {
    border: 2px solid #fff;
    width: 160px;
    height: 160px;
}

.imAvt {
    border-radius: 10px;
}

.imAvt:hover {
    transform: scale(1.3)
}

.nvUs {
    border-radius: 10px;
    border: 2px solid #000;
    opacity: 0.5;
}

.nvUs:hover {
    border: 2px solid #fff;
    opacity: 1;
}

.txtAvt {
    overflow: auto;
    text-align: center;
    font-size: 14px;
    line-height: 18.2px;
    color: #9C9C9C;
}

.txtAvt:hover {
    color: #fff;
}

.btn {
    margin: 80px auto 0 auto;
    width: 206px;
    height: 50px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}